/* .square {
    width: 100px;
    height: 100px;
    margin-right: 10px;
    border-radius: 2px;
    
} */

/* Basic fonts & display style*/
  
  /* Style the Image Used to Trigger the Modal */
  #infoImg {
     border-radius: 5px;
     cursor: pointer;
     transition: 0.3s;
   }
   
   #infoImg:hover {opacity: 0.7;}
   
   #zoomImg{
       position: fixed;
       top: 0; left: 0;
       background: rgba(0,0,0,0.9);
       width: 70%;
       z-index: 100;
       display: none;
   }

   .zoomImg span{
    position: absolute;
    top: 0; right: 10px;
    font-size: 60px;
    font-weight: bolder;
    color: #fff;
    cursor: pointer;
    z-index: 100;
   }

   #hdimg {
       position: absolute;
       top: 50%; left: 50%;
       transform: translate(-50%, -50%);
       border: 5px solid #fff;
       border-radius: 5px;
       width: 750px;
       object-fit: cover;
   }

   @media  (max-width:768px) {
    #hdimg {
           width:95%;
       }
       
   }